body {
    font-family: Arial, sans-serif;
}

#investmentOptions {
    margin: 20px 0;
}

#investmentOptions input[type="radio"] {
    margin-right: 5px;
}

#investmentOptions label {
    margin-right: 20px;
}

div {
    margin-bottom: 10px;
}

.slider-marks {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.mark {
    position: absolute;
    write-mode: vertical-lr; /* 눈금 텍스트를 세로로 표시 */
    transform: translateX(-50%);
}
