body {
    font-family: Arial, sans-serif;
}

#investmentOptions {
    margin: 20px 0;
}

#investmentOptions input[type="radio"] {
    margin-right: 5px;
}

#investmentOptions label {
    margin-right: 20px;
}

div {
    margin-bottom: 10px;
}

