body {
    font-family: Arial, sans-serif;
}

#investmentOptions {
    margin: 20px 0;
}

#investmentOptions input[type="radio"] {
    margin-right: 5px;
}

#investmentOptions label {
    margin-right: 20px;
}

div {
    margin-bottom: 10px;
}

.slider-marks {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: calc(100% - 20px); /* 슬라이더와 같은 너비를 갖도록 조정 */
    margin: 0 auto 10px auto; /* 슬라이더 아래에 위치하도록 조정 */
}

.mark {
    position: static; /* 기본 위치 설정으로 변경 */
    display: inline-block; /* 인라인 블록 요소로 변경 */
    width: 20%; /* 각 눈금이 차지하는 너비를 지정 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    color: #000; /* 눈금 텍스트 색상 */
    font-size: 0.75rem; /* 눈금 텍스트 크기 조정 */
}
